body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #ebe3cc;
}
/* Navigation styles: */

.header {
  padding: 10px 100px;
  height: 70px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
.logo {
  height: 70px;
  display: inline-block;
  margin-right: 77px;
  vertical-align: middle;
  cursor: pointer;
}
.header-nav {
  display: inline-block;
  vertical-align: middle;
  margin-right: 100px;
}

.nav-list {
  width: 600px;
}
.nav-list {
  width: 100%;
}
.nav-list li {
  font-size: 16px;
  display: inline-block;
  margin-right: 59px;
  width: 115px;
  font-weight: 600;
}
.nav-list li a {
  text-decoration: none;
  color: #2b2929;
}
.nav-list li a:hover {
  text-decoration: underline;
}

.header-form {
  display: inline-block;
  font-size: 12px;
}
.header-form input,
.header-form button {
  padding: 10px 7px;
}
.header-form input {
  outline: none;
  /* border: none; */
}
.header-form input:focus {
  box-shadow: 0 0 15px #e5edf0;
}
.header-form input:focus::placeholder {
  color: transparent;
}
.button {
  border: none;
  background-color: #ffa305;
  color: #ffffff;
  cursor: pointer;
  background-color: #fbab7e;
  background-image: linear-gradient(45deg, #fbab7e 0%, #f7ce68 100%);
}
.button:hover {
  background-color: #fbab7e;
  background-image: linear-gradient(225deg, #fbab7e 0%, #f7ce68 100%);
  transition: all 0.7s ease-in-out;
}
[placeholder] {
  padding-left: 10px;
}
.header-logo {
  height: 70px;
  width: 70px;
}

/* Hero styles */

.hero {
  display: inline-block;
  position: relative;
  margin-bottom: 415px;
}
.yellow-circle {
  height: 593px;
  width: 593px;
  background-color: #ffdc26;
  border-radius: 50%;
  display: inline-block;
  z-index: 2;
  position: relative;
  top: 0;
  margin-top: 74px;
  margin-left: 30px;
}

.hero-img {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}
.hero-txt {
  display: inline-block;
  margin-left: 452px;
  padding-top: 296px;
  vertical-align: top;
  font-weight: 400;
  font-style: normal;
  color: #2b2929;
}
.hero-txt h1 {
  color: #ed5c01;
  font-size: 50px;
}
.hero-txt p {
  width: 604px;
  font-size: 40px;
}

.hero-button {
  border-radius: 50px;
  background: transparent;
  color: #222020;
  border: 3px solid #f7d659;
  padding: 0.8em 1.2em;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #f7d659;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.hero-button i {
  padding-left: 6px;
}
/* Products section */
.products-h2 {
  text-align: center;
}

/* Tips section styles */
.tips-wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
}

.tips-heading {
  display: block;
  margin: auto;
  width: 50%;
  padding: 20px 10px 10px 10px;
  text-align: center;
}
.training-tips-blocks {
  text-align: center;
  padding: 20px;
  vertical-align: top;
}
.training-tip-article {
  display: inline-block;
  max-width: 350px;
  width: 100%;
  margin: 0 20px;
  padding: 20px 25px;
  border: 1px solid #111;
  border-radius: 10px;
  padding: 0;
  height: 540px;
  vertical-align: top;
  background-color: #eff0e9;
}
.tt-title-caption {
  min-height: 118px;
}

.tips-images-block {
  position: relative;
  height: 180px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
}
.tips-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tips-content-text {
  display: inline-block;
  text-align: left;
  width: calc(80%);
  height: 130px;
  overflow: hidden;
}
.tips-info li {
  display: inline-block;
  list-style-type: none;
  margin-right: 5px;
}
.tips-info-list-item + li:before {
  content: "|";
  color: #000000e0;
  padding-right: 5px;
}
.tips-content {
  display: inline-block;
}
.tips-button {
  margin-bottom: 10px;
  background-color: transparent;
  border: 2px solid #f7d659;
  border-radius: 10px;
  padding: 2px 7px;
}
.tips-button:hover {
  background-color: #f7d659;
  opacity: 1;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* Working hours section */

section table {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
