.visuallyhidden {
  position: absolute;
  clip-path: rect(0 0 0 0);
}
ul#menu-tabs-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#menu-tabs-navigation li {
  float: left;
}
#menu-tabs-navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#menu-tabs-navigation li a:hover:not(.working-hours-link-nav) {
  background-color: #111;
}
#menu-tabs-navigation .working-hours-link-nav {
  background-color: #04aa6d;
}
.logo-element {
  justify-content: center;
  display: flex;
}

.tips-heading {
  display: block;
  margin: auto;
  width: 50%;
  padding: 20px 10px 10px 10px;
  text-align: center;
}
.training-tips-blocks {
  text-align: center;
  padding: 20px;
  vertical-align: top;
}
.training-tip-article {
  display: inline-block;
  max-width: 350px;
  width: 100%;
  margin: 0 20px;
  padding: 20px 25px;
  border: 1px solid #111;
  padding: 0;
  height: 540px;
  vertical-align: top;
}
.tt-title-caption {
  min-height: 118px;
}

.tips-images-block {
  position: relative;
  height: 180px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
}
.tips-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tips-content-text {
  display: inline-block;
  text-align: left;
  width: calc(80%);
  height: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tips-info li {
  display: inline-block;
  list-style-type: none;
  margin-right: 5px;
}
.tips-info-list-item + li:before {
  content: "|";
  color: #000000e0;
  padding-right: 5px;
}

.tips-content {
  display: inline-block;
  /* vertical-align: bottom; */
}
.tips-button {
  margin-bottom: 10px;
  background-color: #b5d9dd;
  border: 1px solid #b9d3d6;
  border-radius: 10px;
  padding: 2px 7px;
}
.tips-button:hover {
  background-color: #b5d9dd;
  opacity: 1;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
section table {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
